/*!*************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[3]!./app/globals.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  background: #000;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-weight: 800;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  font-family: inherit;
  font-weight: inherit;
}

button {
  font-family: inherit;
  font-weight: inherit;
  cursor: pointer;
}

input:focus {
  border-color: #ffff00 !important;
}

button:hover {
  background: #fff59d !important;
  color: #000;
}

